<div id="main-navigation">
	<div class="logo">
		<a href="/"><img src="/img/logo.png"></a>
	</div>
	<ul>
		<li class="{% if activePage == 'websites' %}active{% endif %}"><a class="item" href="/websites">Websites</a></li>
		<li><a class="item" href="/logout">Logout</a></li>
	</ul>
</div>